@font-face {
    font-family: 'head';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'body';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none
}
.line-through{
    text-decoration: line-through;
}
.background{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left:0;
    right:0;
    opacity: 40%;
    z-index: -999;
}
input{
    border: none;
    opacity: 40%;
}
button{
    background: transparent;
    border: none;
    background-size:100%;
}
.button-image{
    width: 15px;
    height: 15px;
}
.highlighter{
    background-color: rgba(187, 129, 245, 30%);
}
body{
    font-family: "body";
}
#main {
    text-align: center;
}
#clock{
    font-family: "head";
    font-size:60px;
    color: black;
}
#login-form{
    font-family: "head";
    font-size: 50px;
}
#greeting{
    font-family: "head";
    font-size: 50px;
    color: darkslategrey;
}
#weather{
    text-align: right;
}
#todo-list{
    display: table;
    margin-left: auto;
    margin-right: auto;
}